# Codificando Variáveis Categóricas

Variavéis nominas e variáveis ordinais

– Variáveis nominais: não existe ordenação dentre as categorias. Exemplos: sexo, cor dos olhos, fumante/não fumante, doente/sadio.

– Variáveis ordinais: existe uma ordenação entre as categorias. Exemplos: escolaridade (1º, 2º, 3º graus), estágio da doença (inicial, intermediário, terminal), mês de observação (janeiro, fevereiro,…, dezembro).

In [1]:
import pandas as pd
from category_encoders.one_hot import OneHotEncoder,OrdinalEncoder

In [2]:
# Carregando os dados
data = pd.read_csv("/Users/lucasmartins/Documents/LucasMartins/Projetos/Aprendizado-Supervisionado/Classificacao/Drug_Classification/drug200.csv")

In [3]:
data

     Age Sex      BP Cholesterol  Na_to_K   Drug
0     23   F    HIGH        HIGH   25.355  DrugY
1     47   M     LOW        HIGH   13.093  drugC
2     47   M     LOW        HIGH   10.114  drugC
3     28   F  NORMAL        HIGH    7.798  drugX
4     61   F     LOW        HIGH   18.043  DrugY
..   ...  ..     ...         ...      ...    ...
195   56   F     LOW        HIGH   11.567  drugC
196   16   M     LOW        HIGH   12.006  drugC
197   52   M  NORMAL        HIGH    9.894  drugX
198   23   M  NORMAL      NORMAL   14.020  drugX
199   40   F     LOW      NORMAL   11.349  drugX

[200 rows x 6 columns]

In [4]:
data.select_dtypes(include="object").describe()

        Sex    BP Cholesterol   Drug
count   200   200         200    200
unique    2     3           2      5
top       M  HIGH        HIGH  DrugY
freq    104    77         103     91

Categorias nominais

In [5]:
one_hot_enc = OneHotEncoder(cols=["Sex"])

In [6]:
data_cats_ohe = one_hot_enc.fit_transform(data)
data_cats_ohe

     Age  Sex_1  Sex_2      BP Cholesterol  Na_to_K   Drug
0     23      1      0    HIGH        HIGH   25.355  DrugY
1     47      0      1     LOW        HIGH   13.093  drugC
2     47      0      1     LOW        HIGH   10.114  drugC
3     28      1      0  NORMAL        HIGH    7.798  drugX
4     61      1      0     LOW        HIGH   18.043  DrugY
..   ...    ...    ...     ...         ...      ...    ...
195   56      1      0     LOW        HIGH   11.567  drugC
196   16      0      1     LOW        HIGH   12.006  drugC
197   52      0      1  NORMAL        HIGH    9.894  drugX
198   23      0      1  NORMAL      NORMAL   14.020  drugX
199   40      1      0     LOW      NORMAL   11.349  drugX

[200 rows x 7 columns]

Categorias ordinais

In [7]:
ord_enc = OrdinalEncoder(cols=["BP","Cholesterol", "Drug"])

In [8]:
ord_enc.fit_transform(data_cats_ohe)

     Age  Sex_1  Sex_2  BP  Cholesterol  Na_to_K  Drug
0     23      1      0   1            1   25.355     1
1     47      0      1   2            1   13.093     2
2     47      0      1   2            1   10.114     2
3     28      1      0   3            1    7.798     3
4     61      1      0   2            1   18.043     1
..   ...    ...    ...  ..          ...      ...   ...
195   56      1      0   2            1   11.567     2
196   16      0      1   2            1   12.006     2
197   52      0      1   3            1    9.894     3
198   23      0      1   3            2   14.020     3
199   40      1      0   2            2   11.349     3

[200 rows x 7 columns]